
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd


*.h5
*.keras
*.pkl
*.joblib
!pneumonia_model.h5
!hate_speech_model.pkl

hate-speech/
pneumonia-decetion/
archive/
*.csv


*.log
*.tmp


.ipynb_checkpoints/


.vscode/


.DS_Store
Thumbs.db
